- message ||= @message
- conversation = message.conversation
- link ||= nil
%li[message]{:class => "type-#{message.content_type}", :rel => "tooltip", :title => "sent @ #{message.created_at.to_date}"}
	.row-fluid
		.span1= image_tag message.icon_url, :size => "50x50", :class => "thumbnail"
		.span10
			.row-fluid
				.span12{:style=>'margin-top:5px'}
					- if messageable = message.messageable
						- if messageable.is_a? Match
							%ul
								%li.profile.profile-square
									.span3.view
										= render :partial => "profiles/match_selection", :locals => {:profile => messageable.chickstuds[0]}
								%li
									.span2.well
										%h1 +
								%li.profile.profile-square
									.span3.view
										= render :partial => "profiles/match_selection", :locals => {:profile => messageable.chickstuds[1]}
								%li
									.span2.well
										%h1 =
								%li
									.span2.well
										- if messageable.approvals.pending.any?
											- if messageable.approvals.pending.collect(&:profile).include?(current_profile)
												= form_tag(approve_match_path) do
													= hidden_field_tag :match_id, messageable._id
													= submit_tag "Approve this match!", :class => "btn btn-primary"
											- else
												= submit_tag "Waiting for approval", :disabled=>true
										- else 
											%h3.alert-info Match has been approved!
						-elsif messageable.is_a? Profile
							= link_to '#', :onclick => "$('#profile_information').html('#{escape_javascript(render :partial => 'profiles/info', :locals => {:profile => messageable})}'); $('#profile_information').modal();", "data-toggle" => "modal" do
								.span2.profile.profile-square
									= image_tag messageable.fb_image_url, :size => "50x50", :class => "thumbnail"
								.span6	
									%h2{:style => "margin-top:10px;"}= messageable.name
					- else
						%p= message.body
		.span10.pull-right
			%h5.badge.pull-right= "Sent by #{message.from} at #{timestamp_readable_with_time(message.created_at)}"
%hr.soften