.span6[message]{:class => "type-#{message.content_type}"}
  .row
    .span1= image_tag notice.icon_url, :size => "100x100"
    .span5
      .row
        .span4
          %h2= notice.header
          %p= notice.body
        .span1.pull-right
          - if notice.href
            = link_to notice.href do
              Link
              %i.icon-chevron-right
%hr.soften