= content_for :pageheader do
  %h1 Contacts
  %p.lead
    you currently have 
    %span{:class => "badge #{"badge-info" if @current_profile.links.count > 1 }"}= "#{@endorsements.count}/150"
    connections in your Yenta Network
      
= content_for :subnav do
  .subnav
    %ul.nav.nav-pills
      %li= link_to "yenta connections", '#yenta_connections', :class => 'anchorLink'
      %li= link_to "catch connections", '#chickstud_connections', :class => 'anchorLink'  
= content_for :main do
  %section#yenta_connections
    .page-header
      %h1
        yenta connections
        %small
          connect with other yentas and set up matches!
    .row
    
  
= content_for :modal do
  .modal#add_catch
    .modal-header
    .modal-body
      = form_for :add_catch, :url => add_catch_path do |f|
        .row
          .span4
            - for chickstud in current_profile.chickstud_links
              .span4
                %h4
                  = image_tag chickstud.fb_image_url, :width => "25px"
                  = chickstud.name
                .pull-right
                  = link_to_function "Select", "$('#selected_catch').html('#{escape_javascript()}')", :class => "btn"
          .span6
            %h2#selected_catch
            
          
          