= content_for :pageheader do
  %h1 Contacts
  %p.lead
    you currently have 
    %span{:class => "badge #{"badge-info" if current_profile.links.count > 1 }"}= "#{current_profile.links.count}/150"
    connections in your Yenta Network
      
= content_for :subnav do
  .subnav
    %ul.nav.nav-pills
      - if usertype == "Chickstud"
        %li= link_to "endorsements", "#endorsement_connections", :class => 'anchorLink'
      %li= link_to "yenta connections", '#yenta_connections', :class => 'anchorLink'
      - if usertype == "Yentum"
        %li= link_to "catch connections", '#chickstud_connections', :class => 'anchorLink'  
= content_for :main do
  - if usertype == "Chickstud"
    %section#endorsement_connections
      .page-header
        %h1
          endorsements
          %small
      .row-fluid
        - for endorsement in current_profile.endorsements
          - yentum = endorsement.yentum
          %h1
            = link_to profile_path(yentum) do
              %blockquote
                %em
                  = image_tag yentum.fb_image_url
                  = endorsement.message
                %small  
                  = yentum.name
  %section#yenta_connections
    .page-header
      %h1
        yenta connections
        %small
          check out their catches
    .row
      - for yentum in current_profile.yenta_links
        .span2.thumbnail
          = link_to profile_path(yentum) do
            = image_tag yentum.fb_image_url, :size => "170x170"
            %h3= yentum.name
  - if usertype == "Yentum"          
    %section#chickstud_connections
      .page-header
        %h1
          catch connections
          %small
            find them some matches
      .row-fluid
        - for chickstud in current_profile.chickstud_links
          .span2{:height=>"75px"}
            = link_to profile_path(chickstud) do
              = image_tag chickstud.fb_image_url, :size => "170x170"
              %h3= chickstud.name                
          
      