= content_for :pageheader do
  %h1 Contacts
  %p.lead
    you currently have 
    %span{:class => "badge #{"badge-info" if current_profile.links.count > 1 }"}= "#{current_profile.links.count}/150"
    connections in your Yenta Network
      
= content_for :subnav do
  .subnav
    %ul.nav.nav-pills
      %li= link_to "yenta connections", '#yenta_connections', :class => 'anchorLink'
      %li= link_to "catch connections", '#chickstud_connections', :class => 'anchorLink'  
= content_for :main do
  %section#yenta_connections
    .page-header
      %h1
        yenta connections
        %small
          connect with other yentas and set up matches!
    .row-fluid
      - for yentum in current_profile.yenta_links
        .span3.thumbnail
          = link_to profile_path(yentum) do
            = image_tag yentum.image_url("large")
            %h3= yentum.name
  %section#chickstud_connections
    .page-header
      %h1
        catch connections
        %small
    .row-fluid
      - for chickstud in current_profile.chickstud_links
        .span3{:height=>"75px"}
          = link_to profile_path(chickstud) do
            = image_tag chickstud.image_url("large")
            = chickstud.name                
          
      