= content_for :pageheader do
	%h1 Dashboard
	%p.lead Where things happen
= content_for :main do
	.row-fluid
		.span6#notices
			.well
				.page-header
					%h1
						notices
						%small
							see what's important
							.pull-right
								%span.badge= current_user_notices.count
								= "notice#{"s" unless current_user_notices.count == 1}"
				%ul
					- for notice in current_user_notices do
						= render :partial => 'shared/notice', :locals => {:notice => notice}
				
		.span6#messages
			.well
				.page-header
					%h1 
						messages
						%small
							stay connected
							%span.pull-right
								= link_to inbox_path do
									inbox
									%i.icon-chevron-right
				%ul.list
					- current_profile.conversations.where(:messages.ne => nil).each do |conversation|
						- last_message = conversation.messages.first
						= render :partial => 'conversations/messages/message_abbr', :locals => {:message => last_message}
				
					
	/ %section#friends
	/		- yentum_links = current_profile.links.where(:_type => "Yentum")
	/		.page-header
	/			%h1
	/				Yenta Friends
	/				%small
	/					See who you're connected to.
	/					= link_to 'Invite friends to join your Yenta Network', '#', :class => 'yenta_invite'
	/					.pull-right
	/						%span.badge= yentum_links.count
	/						yenta in your network
	/		.row
	/			- for profile in yentum_links do
	/				= render :partial => 'profiles/profile', :locals => {:profile => profile}
	/	%section#reserves
	/		- chickstud_links = current_profile.links.where(:_type => "Chickstud")
	/		.page-header
	/			%h1
	/				Chickstud Reserves
	/				%small
	/					See all the ChickStuds that you know
	/					= link_to 'Invite your friends so that you can match them!', '#', :class => 'chickstud_invite'
	/					.pull-right
	/						%span.badge= chickstud_links.count
	/						friends
	/		.row
	/			- for profile in chickstud_links do
	/				= render :partial => 'profiles/profile', :locals => {:profile => profile}	