= content_for :main do
  .hero-unit
    %h1 the team
    %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    %p
      = link_to "Awesome !!!!", '#', :class => "btn btn-primary btn-large"
  %ul.thumbnails
    %li.span3
      .thumbnail
        = image_tag "http://www.tarantino.info/wiki/images/MrBlonde.jpg"
        %h5 Mr. Blonde
        %p Having served time for Joe Cabot after getting caught in a bust, Vic Vega aka Mr Blonde is offered a new job from Joe in a fairly easy jewelry heist. It ends up going awry, as there seems to be a rat amongst the men.
        %p Nice Guy Eddie calls Mr Blonde their "lucky rabbit's foot" when Joe assigns him to the job. His job in the heist was to perform crowd control with Mr. Blue, but when an alarm is set off during the robbery, Blonde begins shooting people in the store, causing the police to come in and throwing what was supposed to be a quick job into chaos. Mr Blonde grabs Officer Marvin Nash as a hostage, and later tortures him with a straight razor to the song Stuck in the Middle with You by Stealers Wheel. Mr Blonde is ultimately killed by Mr. Orange.
        %p
          = link_to 'Résumé', 'http://www.youtube.com/watch?v=oHg5SJYRHA0', :class => 'btn btn-primary', :target => "_blank"
    %li.span3
      .thumbnail
        = image_tag "http://www.tarantino.info/wiki/images/MrWhite.jpg"
        %h5 Mr. White
        %p As Mr. White, Dimmick becomes a sort of surrogate father to young recruit Mr. Orange as they plan the job over a few days. The two become so close that he lets detials of his personal life slip like his hometown and his specialty as a criminal. When Mr. Orange gets shot after their escape of the heist gone wrong (due to a possible undercover cop in their midst), their bond leads Mr. White to want to bring Mr. Orange to a hospital. It, alas, never comes to pass, as they are stuck in the warehouse rendezvous point for the majority of their time awaiting the arrival of Joe Cabot to sort things out. While left alone with the psychotic Mr. Blonde who's about to kill an abducted LAPD officer, Mr. Orange kills him, and White then defends Mr Orange to the end against his old friend Joe Cabot and his son Nice Guy Eddie. Mr. White's luck runs out, as after being shot in a crossfire of a Mexican Standoff between himself, Joe, and Nice Guy Eddie, Mr. Orange finally reveals that he has indeeed betrayed him. In the end, the cops bust in, and in a true act of honor among thieves, Mr. White puts Orange out of his misery - ultimately causing the cops to open fire on him. His job was to take the manager into the back, and make him give him the diamonds, with the help of Mr. Pink.
        %p
          = link_to 'Résumé', 'http://www.youtube.com/watch?v=oHg5SJYRHA0', :class => 'btn btn-primary', :target => "_blank"
    %li.span3
      .thumbnail
        = image_tag "http://www.tarantino.info/wiki/images/MrOrange.jpg"
        %h5 Mr. Orange
        %p Mr. Orange is the alias of an undercover police officer named Freddy Newandyke who is assigned to infilitrate Joe Cabot's latest jewelry heist. In the midst of this heist is a ragtag team of ex-felons including Mr. White (revealed to really be Larry Dimmick), whom they also have a sheet on. Conflict of interests arise when Mr. Orange has a father-son relationship with Mr. White. This is sold in the first scene after the credits where Mr. White talks to Mr. Orange like a child in the back seat, consoling him about his pain. Freddy's assistant and only connection to the real world is undercover officer Holdaway.
        %p While planning the robbery, Mr. Orange earns the trust of Mr. White. During the botched heist, the duo end up at the rendevous point in an abandoned warehouse where Freddy is literally bleeding to death due to a gunshot wound to the stomach. Mr. Orange suggests to Mr. White that he should just drop him off at a hospital and that he wouldn't rat on him. White actually considers it, knowing Orange knows his real name and where he's from. Mr. Pink advises against it, seeing how he suspects a cop in the group anyway. He is shot in the head by Mr. White at the end of the movie. His job in the heist was to stand by the door, and make sure nobody went in or went out.
        %p
          = link_to 'Résumé', 'http://www.youtube.com/watch?v=oHg5SJYRHA0', :class => 'btn btn-primary', :target => "_blank"        
    %li.span3
      .thumbnail
        = image_tag "http://www.tarantino.info/wiki/images/MrPink.jpg"
        %h5 Mr. Pink
        %p He and Mr. White were supposed to take the manager into the back and make him give them the diamonds. He is the only character to survive at the end of the movie, though he is wounded and arrested.
        %p
          = link_to 'Résumé', 'http://www.youtube.com/watch?v=oHg5SJYRHA0', :class => 'btn btn-primary', :target => "_blank"