- profile ||= @profile
.modal-header
  %a.close{"data-dismiss" => "modal"}x
  %h3
    = "About #{profile.first_name}"
.modal-body
  %table.table.table-striped
    %tbody
      %tr
        %td
          %b Name
        %td= profile.name
      %tr
        %td
          %b Picture
        %td= image_tag profile.image_url("large")
      %tr
        %td
          %b Gender
        %td= profile.gender
      - unless profile.about.nil?
        %tr
          %td
            %b About
          %td= profile.about
      %tr{:colspan => 2}
        %td= link_to "View more information", "http://facebook.com/#{profile.fb_uid}", :target => "_blank"