= content_for :pageheader do
  %h1
    = profile.name
  %p.lead
    = "Catch since #{timestamp_readable(profile.created_at)}"
= content_for :subnav do
  .subnav
    %ul.nav.nav-pills
      %li= link_to_function 'about', "$('#profile_information').html('#{escape_javascript(render :partial => 'profiles/info', :locals => {:profile => profile})}'); $('#profile_information').modal();", "data-toggle" => "modal"
      %li= link_to 'endorsements', "#endorsements", :class => 'anchorLink'
      %li= link_to 'conversation', "#conversation_#{@conversation._id}", :class => 'anchorLink'
      %li= link_to 'new message', "#new_message", :class => 'anchorLink'
= content_for :main do
  %section#endorsements
  .page-header
    %h1
      endorsements
      %small
        = "#{profile.first_name} has #{profile.endorsements.count} endorsements."
  .row-fluid
    - for endorsement in profile.endorsements
      - yentum = endorsement.yentum
      %h1
        = link_to profile_path(yentum) do
          %blockquote
            %em
              = image_tag yentum.fb_image_url
              = endorsement.message
            %small  
              = yentum.name
  = render :partial => 'conversations/history', :locals => {:conversation => @conversation}
  = render :partial => 'conversations/main', :locals => {:conversation => @conversation}