

= content_for :main do
  .hero-unit
    .well.profile
      %h1
        = image_tag profile.image_url, :size => "100x100"
        = profile.name
        %p= "Yenta-ing since #{profile.created_at}"
= content_for :title, "Dashboard"
= content_for :subtitle, "Manage your connections."

= content_for :main do
  
= content_for :sidebar do
  .well
    %h1 Stable
    %hr.soften
    .subnav.subnav-fixed
      %ul.nav.nav-pills#filters
        %li= link_to 'All', '#'       , "data-filter" => "*"
        %li= link_to 'Chicks', '#'    , "data-filter" => ".match .gender-female"
        %li= link_to 'Studs', '#'     , "data-filter" => ".match .gender-male"
    %table
      %tbody#stable
        - for match in matches do
          = render :partial => 'matches/match', :locals => {:match => match}
  #response.well 
= content_for :head do
  %script
    $(document).ready(function(){
    var $container = $('#notices');
    $container.isotope({
    itemSelector: '.notice'
    });
    $('#filters li a').click(function(){
    var selector = $(this).attr('data-filter');
    $container.isotope({filter: selector});
    return false;
    });
    $("a#invite_fb_friends").click(function() {
    FB.init({ 
    appId:'323215734404423', 
    cookie:false, 
    status:true
    });
    FB.ui({ method: 'apprequests', message: 'Select friends for your stable* (working term)'}, fbRequestCallback);
    });
    function fbRequestCallback(response){
    $.post('/fb_handler/request_callback', response);
    }
    });