= content_for :pageheader do
  %h1
    = profile.name
  %p.lead
    = "Yenta since #{timestamp_readable(profile.created_at)}"
= content_for :subnav do
  .subnav
    %ul.nav.nav-pills
      %li= link_to_function 'about', "$('#profile_information').html('#{escape_javascript(render :partial => 'profiles/info', :locals => {:profile => profile})}'); $('#profile_information').modal();", "data-toggle" => "modal"    
      %li= link_to 'matchbook', "#matchbook", :class => 'anchorLink'
      %li= link_to 'conversation', "#conversation_#{@conversation._id}", :class => 'anchorLink'
      %li= link_to 'new message', "#new_message", :class => 'anchorLink'
= content_for :main do
  %section#matchbook
    .page-header
      %h1
        Matchbook
        %small
          ="#{profile.first_name} has #{profile.endorsements.count} catch#{"es" unless profile.endorsements.count == 1} in #{profile.pronoun_poss} matchbook"
          - if usertype == "Yentum"
            .pull-right
              = link_to "Suggest a Match", '#suggest_match', "data-toggle" => "modal", :onclick => "$('#suggest_match').modal();"
    .row-fluid
      - for chickstud in profile.endorsements.collect(&:chickstud).compact
        .span2{:height=>"75px"}
          = link_to profile_path(chickstud) do
            = image_tag chickstud.image_url, :size => "170x170"
            %h3= chickstud.name
  = render :partial => 'conversations/history', :locals => {:conversation => @conversation}
  = render :partial => 'conversations/main', :locals => {:conversation => @conversation}