= content_for :pageheader do
	%h1{:style => 'font-size:36px;margin-top:15px'}
		= profile.name
		%span.lead
			= "Yenta since #{timestamp_readable(profile.created_at)}"
= content_for :subnav do
	.subnav
		%ul.nav.nav-pills
			%li= link_to_function 'about', "$('#profile_information').html('#{escape_javascript(render :partial => 'profiles/info', :locals => {:profile => profile})}'); $('#profile_information').modal();", "data-toggle" => "modal"		
			%li= link_to 'matchbook', "#matchbook", :class => 'anchorLink'
			%li= link_to 'conversation', "#history", :class => 'anchorLink'
= content_for :main do
	- if yenta_user?
		%section#matches.well
			.row
				#new_match_wrapper.span12
					.span4.information
						%h1{:style => "font-size:40px;margin-top:30px"}
							Match your catches:
					.span6
						.new_match.row-fluid
							= form_for :match, :url => suggest_match_path do |f|
								= hidden_field_tag :conversation_id, @conversation._id
								= f.fields_for :approvals do |approval_fields|
									= approval_fields.hidden_field "#{profile._id}", :value => profile._id
								= f.fields_for :chickstuds do |chickstud_fields|			
									%ul
										= chickstud_fields.hidden_field "yenta_#{profile._id}_selection"
										= chickstud_fields.hidden_field "yenta_#{current_profile._id}_selection"
										%li.profile.profile-square.thumbnail{:id => "yenta_#{profile._id}_selection"}
											.span3.view
												= render :partial => "match_selection"
										%li
											.span2{:style => "margin-left:20px;"}
												%h1{:style => "margin-top:20px;"} +
										%li.profile.profile-square.thumbnail{:id => "yenta_#{current_profile._id}_selection"}
											.span3.view
												= render :partial => "match_selection"
										%li
											.span2{:style => "margin-left:20px;"}
												%h1{:style => "margin-top:20px;"} =
										%li
											.span2{:style => "margin-top:25px;"}
												= f.submit "Match!", :class => 'btn btn-primary btn-large'
										
				%hr.soften						
				.span12
					.row-fluid
						- [profile, current_profile].each do |yenta_profile|
							- is_current = (yenta_profile == current_profile)
							.span6.alert{:id => "yenta_#{yenta_profile._id}_matchbook"}
							
								%h3
									= "#{is_current ? "Your" : yenta_profile.first_name + "'s"} Matchbook"
								%small
									="#{is_current ? "You have" : yenta_profile.first_name + " has"}  "
									%span.badge.badge-info="#{yenta_profile.endorsements.count}"
									= " catch#{"es" unless yenta_profile.endorsements.count == 1} in #{is_current ? "your" : yenta_profile.pronoun_poss} matchbook"
								%hr
								%ul.list
									- for endorsement in yenta_profile.endorsements
										- chickstud = endorsement.chickstud
										%li[endorsement]
											.row-fluid
												.span2=image_tag chickstud.fb_image_url, :size => "50x50", :class => 'thumbnail'
												.span8
													%h2
														= link_to_function chickstud.name, "$('#profile_information').html('#{escape_javascript(render :partial => 'profiles/info', :locals => {:profile => chickstud})}'); $('#profile_information').modal();", "data-toggle" => "modal"		
													%blockquote
														%p= endorsement.message
														%small= timestamp_readable(endorsement.created_at)
												.span2.sidelink
													%button.btn.btn-primary.btn-mini{:href => '#', :onclick => "$('#yenta_#{yenta_profile._id}_selection .view').html('#{escape_javascript(render :partial => 'match_selection', :locals => {:profile => chickstud})}');$('#match_chickstuds_yenta_#{yenta_profile._id}_selection').val('#{chickstud._id}')"} 
														Select
														

	- else
		%section#target_matchbook
			.page-header
				%h1
					Matchbook
					%small
						="#{profile.first_name} has #{profile.endorsements.count} catch#{"es" unless profile.endorsements.count == 1} in #{profile.pronoun_poss} matchbook"
			.row-fluid
				- for chickstud in profile.endorsements.collect(&:chickstud).compact
					.span2{:height=>"75px"}
						= link_to profile_path(chickstud) do
							= image_tag chickstud.fb_image_url, :size => "170x170"
							%h3= chickstud.name
	= render :partial => 'conversations/main', :locals => {:conversation => @conversation}							
	= render :partial => 'conversations/history', :locals => {:conversation => @conversation}
