- profile ||= @profile
= form_for profile, :url => profile_path, :class => "well" do |f|
  = f.label 
  = f.text_field
  = f.label
  = f.text_field
  = f.label
  = f.text_field
  = f.label
  = f.text_field
  = f.label :endorsement
  = f.text_field :endorsement
  = f.submit "Update Information", :class => "btn btn-primary"