- yentum ||= profile.yentum
= content_for :subnav do
  %ul.nav.nav-pills
    %li= link_to "about", '#about', :class => 'anchorLink'
    %li= link_to "connections", '#connections', :class => 'anchorLink'
= content_for :pageheader do
  .row
    .span12
      .row
        .span7
          %h1
            = profile.name
        .span5
          %h2
            %blockquote
              - if chickstud_belongs_to_yentum?(profile)
                = form_for profile, :url => profile_path, :remote => true do |f|
                  = f.text_field :endorsement, :placeholder => "endorsement", :type => 'input-search'
                  = f.submit "Save"
              - else
                %em= "\"#{profile.endorsement}\"" unless profile.endorsement.blank?
                %small
                  = link_to "#{yentum.name}", profile_path(yentum)
                  \, Yenta      
  %p.lead
      
= content_for :main do
  .container
    %section#about
      .page-header
        %h1= "About #{profile.first_name}"
        %small= "Find out more about #{profile.pronoun_obj}!"
      .page-body
        .row
          .span3
            = image_tag profile.image_url("large")
          .span9
            %table.span9.table-striped
              %tbody
                %tr
                  %th Name
                  %td= profile.name
                %tr
                  %th Yenta
                  %td= link_to yentum.name, profile_path(yentum)
                %tr
                  %th Member Since
                  %td= profile.member_since
                %tr
                  %th Gender
                  %td= profile.gender.humanize
                %tr
                  %th Interested In
                  %td= profile.interested_in.humanize            
                %tr
                  %th Connections
                  %td= link_to "#{profile.connections.count} connections", '#connections', :class => 'badge anchorLink'

                %tr
                  %td.pull-right{:colspan => 2}
                    = link_to 'Learn more', "http://facebook.com/#{profile.fb_uid}", :target => "_blank"
                    %span.muted (external link)
    %section#connections
      .page-header
        %h1 Connections
        %small= "See the people that #{profile.first_name} has been connecting with."
      .page-body  
        - if profile.private? && chickstud_belongs_to_yentum?(profile)
          .well.alert-info
            %h4 This profile has not been made public.
            %p= "Until you make this profile public no one else can recommend matches for #{profile.first_name}."
            %hr.soften
            = link_to "Make Profile Public", "#make_public", "data-toggle".to_sym => "modal", :class => 'btn btn-primary'
        - else
          = link_to "Suggest Connection", '#new_match', 'data-toggle'=> 'modal', :class => 'btn btn-primary modal-link'        
        .row
          - for connection in profile.connections do
            = render :partial => 'connections/_connection', :locals => {:connection => connection}
  .modal#information.fade
    = render :partial => 'profiles/chickstuds/information', :locals => {:profile => profile}
  .modal#new_connection.fade
    = form_for :connection, :url => connections_path, :remote => true do |f|
      = fields_for :chickstuds do |chickstud_fields|
        = chickstud_fields.hidden_field :profile_1, :value => profile._id
        = chickstud_fields.hidden_field :profile_2
    .modal-header
      %h2= "Suggest a match for #{profile.first_name}"
      %a.close{"data-dismiss".to_sym => "modal"} x
    .modal-body
      %table.table.table-striped
        %tbody#stable 
          - for _profile in (current_stable - [profile]) do
            %tr[_profile]{:class => "gender-#{_profile.gender} privacy-#{_profile.privacy}"}
              %td= image_tag _profile.image_url, :size => "40x40"
              %td{:colspan => 2}
                %h4= _profile.name
              %td
                = link_to 'Match!', '#', :onclick => "$('#new_match input[name=\"chickstuds[profile_2]\"]').val('#{_profile._id}');$('#new_match form').submit();"
  .modal#make_public.fade
    .modal-header
      %a.close{"data-dismiss".to_sym => "modal"} x    
      %h3= "Make #{profile.first_name}'s profile public."
      %p= "Send an invite to #{profile.first_name}.  Once #{profile.pronoun_subj} accepts other yentas will be able to view #{profile.pronoun_obj} profile and suggest matches."
    .modal-body
      %p= "How would you prefer to invite #{profile.pronoun_obj}?"
      .row
        .span6.well
          %h3 Email Invite
          = form_for :invite, :url => invite_profile_path(profile._id), :remote => true do |f|
            = f.label :email
            = f.email_field :email, :placeholder => "#{profile.first_name}'s Email Address", :class => 'input-xlarge span5'
            = f.label :message
            = f.text_field :message, :placeholder => "Come checkout YentaFriend and get connected!", :class => 'input-xlarge span5'
            %br
            = f.submit "Invite", :class => 'btn btn-primary'
        %hr.soften    
        .span6.well
          %h3 Facebook Invite
          = link_to "Invite on Facebook", '#', :id => 'app_invite'
  .modal#update_profile.fade
    .modal-header
      %h2= "Update #{profile.first_name}'s Information"
      %a.close{"data-dismiss".to_sym => "modal"} x
    .modal-body
      = render :partial => 'profiles/chickstuds/form', :locals => {:profile => profile}

