= content_for :title, profile.name
= content_for :subtitle, "Help #{profile.first_name} find friends."

= content_for :main do
  .well.span8
    %h1 Matches
    - if profile.private?
      .well.alert-info
        %h4 This profile has not been made public.
        %p= "Until you make this profile public no one else can recommend matches for #{profile.first_name}."
        %hr.soften
        = link_to "Make Profile Public", "#update_profile", "data-toggle".to_sym => "modal", :class => 'btn btn-primary'
    - else
      = link_to "Match!", '#new_match', 'data-toggle'=> 'modal', :class => 'btn btn-primary modal-link'
    %hr.soften
    .subnav.subnav-fixed
      %ul.nav.nav-pills#filters
        %li= link_to 'All', '#'       , "data-filter" => "*"
        %li= link_to 'Chicks', '#'    , "data-filter" => ".profile .gender-female"
        %li= link_to 'Studs', '#'     , "data-filter" => ".profile .gender-male"
    %table
      %tbody#matches
        - for match in profile.matches do
          = render :partial => 'matches/match', :locals => {:match => match}
  .modal#new_match.fade
    = form_for :match, :url => create_match_path, :remote => true do |f|
      = f.fields_for :chickstuds do |chickstud_fields|
        = chickstud_fields.hidden_field :profile_1, :value => profile._id
        = chickstud_fields.hidden_field :profile_2
    .modal-header
      = "Select a match for #{profile.first_name}"
    .modal-body
      %table.table.table-striped
        %tbody#stable 
          - for _profile in (current_stable - [profile]) do
            %tr[_profile]{:class => "gender-#{_profile.gender} privacy-#{_profile.privacy}"}
              %td= image_tag _profile.image_url, :size => "40x40"
              %td{:colspan => 2}
                %h4= _profile.name
              %td
                = link_to 'Match!', '#', :onclick => "$('#new_match input[name=\"match[chickstuds][profile_2]\"]').val('#{_profile._id}');$('#new_match form').submit();"
                
  .modal#update_profile.fade
    .modal-header
      %h2= "Update #{profile.first_name}'s Information"
    .modal-body
      = form_for profile, :url => profile_path, :class => "well" do |f|
        = f.label
        = f.text_field
        = f.label :endorsement
        = f.text_field :endorsement
        = f.submit "Update Information", :class => "btn btn-primary"
= content_for :sidebar do
  = render :partial => 'profiles/chickstuds/information', :locals => {:profile => profile}
