= content_for :title, "Browse"
= content_for :subtitle, "Find people."

= content_for :main do

  .well
    %h2 People
    %hr.soften
    .subnav.subnav-fixed
      %ul.nav.nav-pills#filters
        %li= link_to 'All', '#'       , "data-filter" => "*"
        %li= link_to 'Chicks', '#'    , "data-filter" => ".profile .gender-female"
        %li= link_to 'Studs', '#'     , "data-filter" => ".profile .gender-male"
    #profile_list
      - for profile in @profiles do
        = render :partial => 'profiles/chickstuds/profile', :locals => {:profile => profile}
= content_for :head do
  %script
    $(document).ready(function(){
    var $container = $('#notices');
    $container.isotope({
    itemSelector: '.notice'
    });
    $('#filters li a').click(function(){
    FB.init({
    appId      : "#{Rails.env.production? ? '343761419009220' : '323215734404423'}",
    channelUrl : "#{request.host}/channel.html",
    status     : true,
    cookie     : true,
    xfbml      : true 
    });
    var selector = $(this).attr('data-filter');
    $container.isotope({filter: selector});
    return false;
    });
    });