= content_for :pageheader do
  %h1 Dashboard
  %p.lead Notices, stable
= content_for :subnav do
  %ul.nav.nav-pills
    %li= link_to "notices", '#notices', :class => 'anchorLink'
    - if yenta_user?
      %li= link_to "stable", '#stable', :class => 'anchorLink'
    - elsif user_signed_in?
      %li= link_to "connections", "#profile_#{current_profile.id}_connections", :class => 'anchorLink'
= content_for :main do
  .container
    = render :partial => 'sections/current_notices'
    - if yenta_user?
      = render :partial => 'sections/current_stable', :locals => {:profiles => current_stable}
      
    - elsif user_signed_in?
      = render :partial => 'sections/connections'

/ = content_for :head do
/   %script
/     $(document).ready(function(){
/     $("a#invite_fb_friends").click(function() {
/     FB.init({
/     appId      : "#{Rails.env.production? ? '343761419009220' : '323215734404423'}",
/     channelUrl : "#{request.host}/channel.html",
/     status     : true,
/     cookie     : true,
/     xfbml      : true 
/     });
/     FB.ui({ method: 'apprequests', message: 'Select friends for your stable* (working term)'}, fbRequestCallback);
/     });
/     function fbRequestCallback(response){
/     $.post('/fb_handler/request_callback', response);
/     }
/     });