= content_for :pageheader do
  %h1= @conversation.participants.only(:first_name).collect(&:first_name).join(" + ")
  %p.lead
= content_for :main do
  = render :partial => 'conversations/history', :locals => {:conversation => @conversation}
  = render :partial => 'conversations/main', :locals => {:conversation => @conversation}
