= form_for @chickstud, :class => "well" do |f|
  -if @chickstud.errors.any?
    #error_explanation
      %h2= "#{pluralize(@chickstud.errors.count, "error")} prohibited this chickstud from being saved:"
      %ul
        - @chickstud.errors.full_messages.each do |msg|
          %li= msg


    = f.submit 'Save'
