.portthumb.span3[profile]{:class => "gender-#{profile.gender} privacy-#{profile.privacy}"}
  = link_to profile_path(profile), :rel => "tooltip", :title => profile.endorsement, :class => "thumbnail" do
    = image_tag( profile.image_url("large"), :height => "160")
    %h2= profile.first_name