.modal.hide#select_catch
	.modal-header
		%a.close{"data-dismiss" => "modal"}x
		Select a profile from your matchbook to share.
	.modal-body.row-fluid
		- if current_profile.endorsements.any?
			- current_profile.endorsements.each do |endorsement|
				- chickstud = endorsement.chickstud
				.span2
					=image_tag chickstud.fb_image_url, :size => "50x50", :class => 'thumbnail'
				.span8
					%h2= chickstud.name
					%blockquote
						%p= endorsement.message
						%small= timestamp_readable(endorsement.created_at)
				.span2.sidelink
					%button.btn.btn-primary.btn-mini{:href => '#', :onclick => "$('#message_messageable_id').val('#{chickstud._id}');$('#message_messageable_type').val('Profile');$('#new_message form').submit();$('a.close').click()", :class => "btn"} 
						Select
					.span6
						%h2#selected_catch
		- else 
			%h2
				You don't have any profiles in your 
				= link_to "matchbook", matchbook_path
				