.modal.hide#select_catch
  .modal-header
    %a.close{"data-dismiss" => "modal"}x
    Select a profile from your matchbook to share.
  .modal-body
    - chickstud_links = current_profile.chickstud_links
    - if chickstud_links.any?
      .row
        .span4
          - for chickstud in chickstud_links
            .span4
              %h4
                = image_tag chickstud.fb_image_url, :width => "25px"
                = chickstud.name
              .pull-right
                = link_to_function "Select", "$('#message_messageable_id').val('#{chickstud._id}');$('#message_messageable_type').val('Profile');$('#new_message form').submit(); ", :class => "btn"
        .span6
          %h2#selected_catch
    - else 
      %h2
        You don't have any profiles in your 
        = link_to "matchbook", matchbook_path
        